body {
  background-image: url("../images/OAO22.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  margin: 0; /* Reset the default margin */
  padding: 0; /* Reset the default padding */
}

.text {
  font-family: "Comic Sans MS", cursive;
  font-size: 24px;
  font-weight: bold;
  background-color: lightyellow;
  padding: 10px;
  border: 3px solid blue;
  text-align: center;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  margin: 0 auto; /* Center the element horizontally */
  width: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.text:hover {
  background-color: pink;
  color: purple;
  animation: shuffleText 1s infinite;
}

@keyframes shuffleText {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes changeImage {
  0%,
  10%,
  20%,
  30% {
    transform: scale(1);
  }
  40%,
  50%,
  60%,
  70% {
    transform: scale(1.2);
  }
  80%,
  90%,
  100% {
    transform: scale(1);
  }
}

h1 {
  text-align: center;
  font-family: "Comic Sans MS", cursive;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  transition: 0.3s;
  display: block;
  max-width: 500%; /* Limit the maximum width to the container's width */
  max-height: 500px; /* Set the maximum height to your desired value */
  width: auto; /* Maintain aspect ratio by adjusting the width automatically */
  margin: 0 auto;
  transition: 0.3s;
}

.word {
  margin: 0;
}
